/*CSS reset settings here*/
*{
	margin: 0px;
 	padding: 0px;
}

#wrapper{
 	width: 950px;
 	background-color:black;
 	display:inline-block;
 	margin: 0px auto;
 	padding-bottom: 15px;
}

#header{
	background-color: #F8F8F8;
}

#logo{
	padding-left: 15px;
	display:inline-block;
	margin-left:10px;
}

#phone{
	vertical-align: top;
	display:inline-block;
	margin-left: 260px;
	margin-top: 40px;
}

#bar{
	list-style-type: none;
	background-color: #F8F8F8;
	margin-left: 20px;
}

#bar li{
	display:inline;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding: 7px 15px;
	font-size: .7em;
}

#block{
	height: 20px;
	background-color: #F8F8F8;
}

#main{
	display:inline-block;
	margin-left:20px;
	margin-top: 14px;
	border: 4px solid white;

}

#mright{
	background-color: #585858;
	display:inline-block;
	vertical-align: top;
	width: 500px;
	height: 263px;
	margin-left: 22px;
	margin-top: 14px;
}

#mainb{
	margin-left: 100px;
	margin-bottom:5px;
	margin-top: 5px;
}

#black{
	background-color: black;
	display:inline-block;
	height: 10px;
	width: 10px;
}
.botb{
	background-color: #FFFFCC;
	display: inline-block;
	width: 222px;
	height: 235px;
	vertical-align: top;
	margin-left: 5px;
}

.rm{
	background-color: #FFCC00;
	display:inline-block;
	border-radius: 8px;
	padding:4px;
	border: 2px solid black;
	margin-left: 135px;
}

p{
	font-family: 'helvetica neue', arial;
	color: black;
	font-size: .6em;
	font-weight:500;
	padding:11px;
}

h1{
	color: #FFFF99;
	font-family: 'helvetica neue', arial;
	font-size: .5em;
}

h2{
	color:black;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	font-size: 1.0em;
}

h3{
	color:black;
	font-size:.8em;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	background-color: #FFCC00;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left:8px;
}

h4{
	color:white;
	font-size: .8em;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	padding:10px;
}

h5{
	font-size:.7em;
	font-weight:normal;
	color:white;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	padding:10px;
}